
*{
    box-sizing: border-box;
}

body{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.taller{
    font-size: 20px; 
    display: grid;
    grid-template-columns: 1fr ;
    gap: 20px;
    background-color:dodgerblue;
    padding: 50px;
}
.tittle{
    color:black;
    font-size: 20px;
}
.button{
    width: 50%;
    height: 30%;
}
.boton{
    border-radius: 20%;
    font-size: 20px;        
    background-color:darkseagreen;
}

.triangulo .button{
    width: 250px;
}
.arr{
    font-size: 20px;
}
@media screen and (max-width: 800px) {
    .taller{
        grid-template-columns: 1fr;
    }
}